@page
@model FreeApp.Pages.TypeAppAdmin.CreateModel

@{
    ViewData["Title"] = "สร้างประเภทโปรแกรม";
}

<h2>สร้างประเภทโปรแกรม</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h3>ชื่อประเภทโปรแกรม</h3>
                <input asp-for="TypeApp.TypeName" class="form-control" />
                <span asp-validation-for="TypeApp.TypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button style = "font-weight:bold; font-size:16px; background-color:#6666cc; color:#ffffff" type="submit" class="btn btn-default" />สร้าง</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
