@page
@model FreeApp.Pages.TypeAppAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบรายการ";
}

<h2>ลบรายการ</h2>

<h3 style = "color:red;">!! หากลบแล้ว รายการแชร์โปรแกรมทั้งหมดในเภทนี้จะถูลบไปด้วย !!</h3>
<div>
    <h4 >คุณต้องการลบจริงๆหรอ?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <h4 id = "index-type">ชื่อประเภท</h4>
        </dt>
        <dd>
            <h4 id = "index-type">@Html.DisplayFor(model => model.TypeApp.TypeName)</h4>
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TypeApp.TypeAppID" />
        <button style = "font-weight:bold; font-size:16px; background-color:#ff5555; color:#ffffff" type="submit" class="btn btn-default" />ลบ</button>
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
