@page
@model FreeApp.Pages.TypeAppAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TypeApp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeApp.TypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeApp.TypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TypeApp.TypeAppID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
