@page
@model FreeApp.Pages.TypeAppAdmin.EditModel

@{
    ViewData["Title"] = "เปลี่ยนชื่อ";
}

<h2>เปลี่ยนชื่อประเภท</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TypeApp.TypeAppID" />
            <div class="form-group">
                <h3 id = "index-type">ชื่อประเภทใหม่</h3>
                <input asp-for="TypeApp.TypeName" class="form-control" />
                <span asp-validation-for="TypeApp.TypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button style = "font-weight:bold; font-size:16px; background-color:#6666cc; color:#ffffff" type="submit" class="btn btn-default" />บันทึก</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">กลับไปหน้าประเภทโปรแกรม</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
