@page
@model FreeApp.Pages.TypeAppAdmin.IndexModel

@{
    ViewData["Title"] = "ประเภทโปรแกรม";
}

<h2>ประเภทของโปรแกรม</h2>

<p>
    <a asp-page="Create"><button style = "background-color:#6666cc;color:#ffffff">ประเภทของโปรแกรมใหม่</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ประเภทของโปรแกรม
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TypeApp) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TypeAppID"><button style = "background-color:#6666cc;color:#ffffff" >เปลี่ยนชื่อประเภท</button></a> 
                <a asp-page="./Delete" asp-route-id="@item.TypeAppID" style = "color:red"><button style = "background-color:#ff5555;color:#ffffff" >ลบ</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
