@page
@using Microsoft.AspNetCore.Identity
@using FreeApp.Models

@model FreeApp.Pages.AppsAdmin.DeleteModel
@inject SignInManager<UserMember> SignInManager
@inject UserManager<UserMember> UserManager

@{
    ViewData["Title"] = "ลบรายการแชร์";
}

<h2>ลบรายการแชร์</h2>

<h3 style = "color:red;">หากลบแล้วจะไม่สามารถเรียกคือได้ !!!</h3>

<div>
    <hr />
<dl class="dl-horizontal">
        <dt>
            <h4 id = "index-app">ประเภทของโปรแกรม</h4>
        </dt>
        <dd>
            <h4 id = "index-app">@Html.DisplayFor(model => model.Apps.Type.TypeName)</h4>
        </dd>
        <dt>
            <h4 id = "index-app">ชื่อโปรแกรม</h4>
        </dt>
        <dd>
            <h4 id = "index-app">@Html.DisplayFor(model => model.Apps.AppName)</h4>
        </dd>
        <dt>
            <h4 id = "index-app">ผู้แชร์</h4>
        </dt>
        <dd>
            <h4 id = "index-app">@Html.DisplayFor(model => model.Apps.byUser.FirstName)</h4>
        </dd>
        <dt>
            <h4 id = "index-app">วันที่แชร์/ปรับปรุง</h4>
        </dt>
        <dd>
            <h4 id = "index-app">@Html.DisplayFor(model => model.Apps.InputDate)</h4>
        </dd>
        <dt>
            <h4 id ="index-app">รายละเอียดโปรแกรม</h4>
        </dt>
        <dd>
            <h4 id = "index-app">@Html.DisplayFor(model => model.Apps.AppDetail)</h4>
        </dd>
        <dt>
            <h4 id = "index-app">ลิงค์สำหรับดวาน์โหลด</h4>
        </dt>
        <dd>
            <h4 id = "index-app">@Html.DisplayFor(model => model.Apps.AppLink)</h4>
        </dd>
        <dt>
            <h4 id = "index-app">ผู้พัฒนาโปรแกรม</h4>
        </dt>
        <dd>
            <h4 id = "index-app">@Html.DisplayFor(model => model.Apps.AppDev)</h4>
        </dd>
        <dt>
            <h4 id = "index-app">Icon</h4>
        </dt>
        <dd>
            <img src="~@Model.Apps.AppImage" asp-append-version="true" height = "60px" width=60px>
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Apps.AppsId" />
        <button style = "font-weight:bold; font-size:16px; background-color:#da5555;color:#ffffff;" type="submit" class="btn btn-default" />Delete</button>  |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
