@page
@using Microsoft.AspNetCore.Identity
@using FreeApp.Models

@model FreeApp.Pages.AppsAdmin.DetailsModel
@inject SignInManager<UserMember> SignInManager
@inject UserManager<UserMember> UserManager

@{
    ViewData["Title"] = "รายละเอียดโปรแกรม";
}

<h2>รายละเอียดโปรแกรม</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <h4 id = "index-app">ประเภทของโปรแกรม</h4>
        </dt>
        <dd>
            <h4 id = "index-app">@Html.DisplayFor(model => model.Apps.Type.TypeName)</h4>
        </dd>
        <dt>
            <h4 id = "index-app">ชื่อโปรแกรม</h4>
        </dt>
        <dd>
            <h4 id = "index-app">@Html.DisplayFor(model => model.Apps.AppName)</h4>
        </dd>
        <dt>
            <h4 id = "index-app">ผู้แชร์</h4>
        </dt>
        <dd>
            <h4 id = "index-app">@Html.DisplayFor(model => model.Apps.byUser.FirstName)</h4>
        </dd>
        <dt>
            <h4 id = "index-app">วันที่แชร์/ปรับปรุง</h4>
        </dt>
        <dd>
            <h4 id = "index-app">@Html.DisplayFor(model => model.Apps.InputDate)</h4>
        </dd>
        <dt>
            <h4 id ="index-app">รายละเอียดโปรแกรม</h4>
        </dt>
        <dd>
            <h4 id = "index-app">@Html.DisplayFor(model => model.Apps.AppDetail)</h4>
        </dd>
        <dt>
            <h4 id = "index-app">ลิงค์สำหรับดวาน์โหลด</h4>
        </dt>
        <dd>
            <h4 id = "index-app">@Html.DisplayFor(model => model.Apps.AppLink)</h4>
        </dd>
        <dt>
            <h4 id = "index-app">ผู้พัฒนาโปรแกรม</h4>
        </dt>
        <dd>
            <h4 id = "index-app">@Html.DisplayFor(model => model.Apps.AppDev)</h4>
        </dd>
        <dt>
            <h4 id = "index-app">Icon</h4>
        </dt>
        <dd>
            <img src="~@Model.Apps.AppImage" asp-append-version="true" height = "60px" width=60px>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Apps.AppsId"><button style = "background-color:#6666cc;color:#ffffff">ปรับปรุง </button></a> |
    <a asp-page="./Index">กลับไปหน้าแชร์</a>
</div>
