@page
@using Microsoft.AspNetCore.Identity
@using FreeApp.Models

@model FreeApp.Pages.AppsAdmin.EditModel
@inject SignInManager<UserMember> SignInManager
@inject UserManager<UserMember> UserManager

@{
    ViewData["Title"] = "ปรับปรุง";
}

<h2>ปรับปรุง</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post"  enctype = "multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Apps.AppsId" />
            <div class="form-group">
                <h4 id = "index-app">ประเภทของโปรแกรม</h4>
                <select asp-for="Apps.TypeAppID" class="form-control" asp-items="ViewBag.TypeAppID"></select>
                <span asp-validation-for="Apps.TypeAppID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4 id = "index-app">ชื่อโปรแกรม</h4>
                <input asp-for="Apps.AppName" class="form-control" />
                <span asp-validation-for="Apps.AppName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Apps.UserMemberId" type="hidden" value="@UserManager.GetUserId(User)" />
            </div>
            <div class="form-group">
                <h4 id = "index-app">วันที่อัพเดต</h4>
                <input asp-for="Apps.InputDate" class="form-control" />
                <span asp-validation-for="Apps.InputDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4 id = "index-app">รายละเอียดโปรแกรม</h4>
                <input asp-for="Apps.AppDetail" class="form-control" />
                <span asp-validation-for="Apps.AppDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4 id = "index-app">ลิงค์ดาวน์โหลด</h4>
                <input asp-for="Apps.AppLink" class="form-control" />
                <span asp-validation-for="Apps.AppLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4 id = "index-app">ผู้พัฒนาโปรแกรม</h4>
                <input asp-for="Apps.AppDev" class="form-control" />
                <span asp-validation-for="Apps.AppDev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4 id = "index-app">Icon</h4>
                <input type="file" id ="fileUpload" name ="fileUpload" class="form-control" />
            </div>
            <div class="form-group">
                <button style = "font-weight:bold; font-size:16px; background-color:#6666cc;color:#ffffff;" type="submit" class="btn btn-default" />บันทึก</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">กลับไปหน้าแชร์</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
