@page
@using Microsoft.AspNetCore.Identity
@using FreeApp.Models

@model FreeApp.Pages.AppsAdmin.IndexModel
@inject SignInManager<UserMember> SignInManager
@inject UserManager<UserMember> UserManager

@{
    ViewData["Title"] = "แชร์";
}

<h2>Share</h2>

<h4>
    <a asp-page="Create"><button style = "background-color:#6666cc;color:#ffffff">แบ่งปัน</button></a>
</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                <p id = "index-app">ประเภทโปรแกรม</p>
            </th>
            <th>
                <p id = "index-app">ชื่อโปรแกรม</p>
            </th>
            <th>
                <p id = "index-app">Icon</p>
            </th>
            <th>
                <p id = "index-app">ผู้แชร์</p>
            </th>
            <th>
                <p id = "index-app">วันที่แชร์</p>
            </th>
            <th>
                <p id = "index-app">คำอธิบาย</p>
            </th>
            <th>
                <p id = "index-app">ลิงค์ดาวน์โหลด</p>
            </th>
            <th>
                <p id = "index-app">ผู้พัฒนาโปรแกรม</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Apps) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppName)
            </td>
            <td>
                <img src="~@item.AppImage" asp-append-version="true" height = "60px" width=60px> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.byUser.FirstName)  @Html.DisplayFor(modelItem => item.byUser.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InputDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppDetail)
            </td>
            <td>
                <a href ="@Html.DisplayFor(modelItem => item.AppLink)" target="_blank" >@Html.DisplayFor(modelItem => item.AppLink)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppDev)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AppsId"><button style = "background-color:#6666cc;color:#ffffff" >Edit</button></a> 
                <a asp-page="./Details" asp-route-id="@item.AppsId"><button style = "background-color:#6666cc;color:#ffffff" >Detail</button></a> 
                <a asp-page="./Delete" asp-route-id="@item.AppsId"><button style = "background-color:#ff5555;color:#ffffff" >Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
