﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class = "jumbotron" style = "background-color:#6666cc; color:#ffffff">
    <h1 id = "HeadJum">Welcome to FreeApp</h1>
    <p id = "HeadJum">Websites for application sharing That can be used for free and licensed</p>
</div>

@foreach (var type in Model.TypeApp){
    <h1 style = "text-decoration: underline">@Html.DisplayFor(modelItem => type.TypeName)</h1>
    @foreach (var app in Model.Apps){
    if (@app.TypeAppID == type.TypeAppID){
    <div class = "row">
        <div class = "col-md-2">
        <br> 
            <img src="~@app.AppImage" asp-append-version="true" height = "100px" width=100px> 
        </div>

        <div class = "col-md-10" id ="data">
            <h3 id ="appName">@app.AppName</h3> 
            <b>รายละเอียด</b>      ->      @Html.DisplayFor(modelItem => app.AppDetail)<br>
            <b>ผู้ฟัฒนา</b>         ->      @Html.DisplayFor(modelItem => app.AppDev)<br>   
            <b>ลิงก์ดาวน์โหลด</b>       ->      <a href = "@Html.DisplayFor(modelItem => app.AppLink)" target="_blank">@Html.DisplayFor(modelItem => app.AppLink)</a><br>
            <b>โพสต์โดย</b>         ->      @Html.DisplayFor(modelItem => app.byUser.FirstName) @Html.DisplayFor(modelItem => app.byUser.LastName)<br>   
        </div>
    </div><br>
    }
    }
}

